@use './_colors' as c;

// BADGE

.badge {
	padding: 2px 5px;
	border-radius: 15px;
	color: #000;
	letter-spacing: 2%;
	font-size: 1rem;
	background-image: linear-gradient(#ffffff, #c0c0c0);
}

// PROFILE CIRCLE

.profile_circle {
	width: 150px;
	position: relative;

	animation: moving 5s infinite;

	img {
		width: 100%;
		border-radius: 50%;
		border: 5px solid c.$accent-color;
	}

	.status {
		position: absolute;
		bottom: 10%;
		right: 10%;
		width: 25px;
		height: 25px;
		border-radius: 50%;
	}

	.online {
		background-color: c.$online;
	}

	.offline {
		background-color: c.$offline;
	}
}

@keyframes moving {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

// BUTTON

.button {
	text-decoration: none;
	color: c.$textColor;
	background-color: c.$offline;
	padding: 10px 20px;
	border-radius: 15px;
	border: 2px solid c.$offline;

	transition: background-color 0.3s;
	&:hover {
		background: none;
	}

	&--outline {
		background: none;
		&:hover {
			background-color: c.$offline;
		}
	}
}

// IMAGE

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 0 rgba(123, 123, 123, 0.5);
}

// SKILL

.skill {
	display: flex;
	gap: 10px;
	align-items: center;
	width: fit-content;
	padding: 10px 20px;
	background-color: c.$skillBackgroundColor;
	border: 1px solid rgba(224, 224, 224, 0.2);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	transition: transform 0.3s;
	img {
		width: 25px;
		height: 25px;
	}

	&:hover {
		transform: scale(1.05);
	}
}

// PROJECT_BOX

.projectBox {
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	width: 100%;
	border: 1px solid rgba(224, 224, 224, 0.2);
	text-decoration: none;
	color: c.$textColor;
	overflow: hidden;
	background-color: c.$skillBackgroundColor;
	transition: transform 0.3s, border 0.3s;

	&:hover {
		transform: scale(1.05);
		border: 1px solid rgba(224, 224, 224, 1);
	}

	img {
		height: 200px;
		object-fit: cover;
	}

	&__content {
		padding: 20px;
	}

	h4 {
		padding: 20px 0;
		font-size: 2rem;
	}

	&__skills {
		padding: 20px 0;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		.skill {
			font-size: 1.6rem;
			img {
				width: 20px;
				height: 20px;
			}
		}
	}
}

// EXPERIENCE_CARD

.experienceCard {
	display: flex;
	padding: 30px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	border-radius: 20px;
	background-color: c.$cardBgColor;
	border: 1px solid c.$accent-color;

	&__left {
		order: 1;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__right {
		order: 0;
		width: 100%;
		img {
			min-width: 150px;
			max-width: 50%;
			width: 100%;
			max-width: 300px;
			border-radius: 30px;
		}
	}

	h4 {
		font-family: 'Outfit', sans-serif;
		font-size: 2.5rem;
	}
	h5 {
		font-size: 2rem;
		font-weight: normal;
	}

	&__location {
		display: flex;
		gap: 10px;
		align-items: center;
		color: c.$accent-color;
		font-size: 1.8rem;
		img {
			width: 30px;
		}
	}

	&__date {
		font-size: 1.8rem;
		color: c.$accent-color;
	}

	p {
		font-size: 1.8rem;
	}
}

// BLOG_CARD

.blogCard {
	text-decoration: none;
	color: c.$textColor;
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 300px;
	h4,
	p {
		letter-spacing: 2%;
		line-height: 150%;
	}

	&__content {
		display: flex;
		flex-direction: column;
		order: 1;
		h4 {
			font-size: 2.5rem;
			text-transform: uppercase;
		}
	}

	&__description {
		padding: 20px 0;
	}

	&__image {
		width: 100%;
		height: 300px;
		img {
			border-radius: 25px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&--main {
		max-width: 100%;
	}
}

// RWD

@media (min-width: 576px) {
	.badge {
		font-size: 1.1rem;
	}

	.profile_circle {
		width: 200px;
	}
}

@media (min-width: 768px) {
	.badge {
		font-size: 1.2rem;
	}

	.profile_circle {
		width: 250px;

		.status {
			width: 40px;
			height: 40px;
			bottom: 15%;
			right: 2%;
		}
	}

	.button {
		padding: 15px 30px;
	}

	.skill {
		gap: 15px;
		img {
			width: 30px;
			height: 30px;
		}

		font-size: 2rem;
	}

	.experienceCard {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.05);
		}

		&__left {
			order: 0;
			gap: 15px;
			max-width: 60%;
		}

		&__right {
			display: flex;
			justify-content: right;
			order: 0;
			img {
				max-width: 250px;
				width: 100%;
			}
		}

		h4 {
			font-size: 3rem;
		}
		h5 {
			font-size: 2.5rem;
		}

		&__location {
			font-size: 2rem;
			img {
				width: 35px;
			}
		}

		&__date {
			font-size: 2rem;
		}

		p {
			font-size: 2rem;
		}
	}
}

@media (min-width: 992px) {
	.badge {
		font-size: 1.4rem;
	}

	.profile_circle {
		width: 300px;

		.status {
			right: 5%;
		}
	}

	.projectBox {
		max-width: 400px;

		&__content {
			font-size: 2.2rem;
		}

		h4 {
			font-size: 3rem;
		}

		&__skills {
			.skill {
				font-size: 2rem;
				img {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}
