@use './_colors' as c;

// BADGE

.badge {
	padding: 2px 5px;
	border-radius: 15px;
	color: #000;
	letter-spacing: 2%;
	font-size: 1rem;
	background-image: linear-gradient(#ffffff, #c0c0c0);
}

// PROFILE CIRCLE

.profile_circle {
	width: 150px;
	position: relative;

	animation: moving 5s infinite;

	img {
		width: 100%;
		border-radius: 50%;
		border: 5px solid c.$accent-color;
	}

	.status {
		position: absolute;
		bottom: 10%;
		right: 10%;
		width: 25px;
		height: 25px;
		border-radius: 50%;
	}

	.online {
		background-color: c.$online;
	}

	.offline {
		background-color: c.$offline;
	}
}

@keyframes moving {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

// BUTTON

.button {
	text-decoration: none;
	color: c.$textColor;
	background-color: c.$offline;
	padding: 10px 20px;
	border-radius: 15px;
	border: 2px solid c.$offline;

	transition: background-color 0.3s;
	&:hover {
		background: none;
	}

	&--outline {
		background: none;
		&:hover {
			background-color: c.$offline;
		}
	}
}

// RWD

@media (min-width: 576px) {
	.badge {
		font-size: 1.1rem;
	}

	.profile_circle {
		width: 200px;
	}
}

@media (min-width: 768px) {
	.badge {
		font-size: 1.2rem;
	}

	.profile_circle {
		width: 250px;

		.status {
			width: 40px;
			height: 40px;
			bottom: 15%;
			right: 2%;
		}
	}

	.button {
		padding: 15px 30px;
	}
}

@media (min-width: 992px) {
	.badge {
		font-size: 1.4rem;
	}

	.profile_circle {
		width: 300px;

		.status {
			right: 5%;
		}
	}
}
